{% extends "base.html" %}

{% block page_content %}

    <!-- Entrades Area Start -->
    <section class="contact-area section_padding_100 mt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="contact-heading-text text-center mb-100">
                        <span></span>
                        <h2>Punts de Venda</h2>
                        <p>En cap dels casos serà possible realitzar reserves prèvies per telèfon</p>
                    </div>
                </div>
                <!-- Contact Form Area -->
                <div class="col-10">
                    <div class="contact-form-area">
                        <form action="#" method="post">
                            <div class="row text-center">
                                <div class="col-12 col-md-4">
                                      <button type="submit" class="btn studio-btn mt-3"><img src="assets/img/core-img/logo-icon.png" alt=""> Online</button>
                                </div>
                                <div class="col-12 col-md-4">
                                      <button type="submit" class="btn studio-btn mt-3"><img src="assets/img/core-img/logo-icon.png" alt=""> Cafeteria Ànima</button>
                                </div>
                                <div class="col-12 col-md-4">
                                      <button type="submit" class="btn studio-btn mt-3"><img src="assets/img/core-img/logo-icon.png" alt=""> Taquilla</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Entrades Area End -->
  {% endblock page_content %}
